# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env

# macOS
.DS_Store

# VSCode
.vscode/

# Docker
*.log

# Database/local data
.pgdata/


# frontend

# Dependências
node_modules/

# Build / output
dist/
build/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ambiente
.env
.env.local
.env.*.local

# Sistema operacional
.DS_Store

# IDE
.vscode/
.idea/

# Cache
.cache/
.parcel-cache/

# Temporary
tmp/
temp/

# Arquivos gerados pelo webpack
*.bundle.js